
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="~/Content/bootstrap-spacelab-theme.css"/>
</head>
<body ng-app="LoginApp">
    <div class="well col-md-4 col-md-offset-4" style="margin-top:50px;"> 
        <form role="form" ng-submit="login()" class="ng-pristine ng-valid ng-valid-email">
            <fieldset>
                <legend>Login</legend>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" ng-model="email" class="form-control ng-pristine ng-valid needsclick ng-valid-email ng-touched" placeholder="Enter email">
                </div>

                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control needsclick" placeholder="Password">
                </div>

                <div class="form-group">
                    <label>Remember Me</label>
                    <div class="switch ng-isolate-scope switch-transition-enabled active ng-valid" ng-class="{active: model}" ng-model="rememberMe"><div class="switch-handle"></div></div>
                </div>
            </fieldset>
            <hr>

            <button class="btn btn-primary btn-block">
                Login
            </button>



        </form>
    </div>

    <script type="text/javascript" src="~/Scripts/angular.min.js"></script>
    <script type="text/javascript" src="~/Scripts/angular-ui/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
</body>
</html>
