
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="~/Content/bootstrap-spacelab-theme.css"/>
    <link rel="stylesheet" href="~/Content/site.css" />
</head>
<body ng-app="myDubaiApp" ng-controller="loginController">
    <div class="row">
        <div id="login-wrapper" class="well">
            <form role="form">
                <fieldset>
                    <div>
                        <h3>Login</h3>
                        <p>
                            Please provide a valid credential to continue.
                        </p>
                    </div>
                    <div class="user-icon">
                        <img src="~/Images/user.png"/>
                    </div>
                    <div class="alert alert-{{alert.type}}" ng-model="alert" ng-show="alert.msg" role="alert">
                        {{alert.msg}}
                    </div>
                    <div class="form-group">
                        <input focus-on="email" type="text" ng-model="email" focus="{{email}}" class="form-control" placeholder="Enter email" ng-readonly="isProcessing">
                        <input focus-on="password" type="password" ng-model="password" focus="{{password}}" class="form-control" placeholder="Password" ng-readonly="isProcessing">
                    </div>
                    <div class="form-group">
                        <input type="checkbox" value="Test" />
                        <span>Remember Me</span>
                    </div>
                </fieldset>
                <button class="btn btn-primary btn-block" ng-click="validate()" ng-disabled="isProcessing">
                    Login
                </button>
                <div id="other-links">
                    <a href="#">Request for an account</a>  
                </div>
            </form>
        </div>
    </div>

    <script type="text/javascript" src="~/Scripts/angular.min.js"></script>
    <script type="text/javascript" src="~/Scripts/angular-ui/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="~/Scripts/AngularModule/MyDubaiApp.js"></script>
    <script type="text/javascript" src="~/Scripts/AngularControllers/LoginController.js"></script>
</body>
</html>
