body {
    margin:0;
    padding:0;
}

a {
    color:#6d94bf;
}

h3, h4 {
    color:#3e648d
}

#login-wrapper {
    margin-top:50px;
    max-width:370px;
    margin-left:auto;
    margin-right:auto;
}

    #login-wrapper > form > fieldset > .form-group > input[type=text] {
        border-bottom-left-radius:0;
        border-bottom-right-radius:0;
    }

    #login-wrapper > form > fieldset > .form-group > input[type=password] {
        border-top:0;
        border-top-left-radius:0;
        border-top-right-radius:0;
    }

    #login-wrapper > form > fieldset > .user-icon {
          width: 130px;
          height: 130px;
          margin: 0 auto;
          margin-bottom: 10px;
    }

        #login-wrapper > form > fieldset > .user-icon > img {
            width:130px;
            height:130px;
            border-radius: 50%;
            background: #e5e5e5;
        }

    #login-wrapper > form > button {
        margin-top:10px;
    }

    #login-wrapper > form > #other-links {
        margin-top:20px;
    }

.alert {
    padding:5px !important;
}
/* bench style */

.navbar {
    margin-bottom: 0px !important;
}


.modal-footer {
    border-top: 0 !important;
}

.modal-dialog {
    margin-top: 85px;
    width: 480px;
}


/*end bench style*/

/*start jick*/

.panelA{
    background-color:lightgreen;
}

.panelB{
    background-color:khaki;
}
/*end jick*/


/*login modal only*/
@media (min-width: 768px) {
    
   .modal-dialog {
    width: 480px;   
   }
}

@media(max-width: 760px) {
    .modal-dialog {
    width: auto !important;    
    }
}
/*end login modal*/

/*Changes in */

@media (max-width: 360px) {

    .xs-mobile-left {
        float: left !important;
      
     }
    .xs-mobile-right {
        float: right !important;
    }
}