
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_layout</title>
</head>
<body>
    <div> 
        @RenderBody()
    </div>
    
    @*Add main js here*@

    @RenderSection("Scripts", false)

</body>
</html>
